.root {
    padding: 12px;
    height: 40px;
    border: 1px solid #E10D0D;
    display: flex;
    align-items: center;
    gap: 6px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
    line-height: 140%;
    cursor: pointer;
    transition: all 0.15s;
    position: relative;

    svg path {
        transition: all 0.15s;
    }

    &:hover {
        border-color: #CC0101;

        svg path {
            fill: #CC0101;
        }
    }
}

.loader {
    position: absolute;
    right: 21px;
    background-color: inherit;
    opacity: 0;
    visibility: hidden;
    transition: all 0.15s;

    &_vis {
        opacity: 1;
        visibility: visible;
    }
}