.root {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  font-family: Inter;
  align-items: center;
  justify-content: center;
  transition: all 0.2s;
  z-index: 1001;
  visibility: hidden;

  &_anim {
    background-color: rgba(0, 0, 0, 0.5);
    visibility: visible;
  }
}

.modal {
  background-color: #fff;
  box-shadow: 0px 0px 50px 0px rgba(129, 135, 163, 0.2);
  border-radius: 8px;
  padding: 20px 24px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 20px;
  transition: all 0.2s ease-in-out;
  transform: scale(0.7);
  opacity: 0;
  position: relative;
  overflow: hidden;

  &_anim {
    transform: scale(1);
    opacity: 1;
  }
}

.close {
  cursor: pointer;
  transition: all 0.15s;

  &:hover {
    opacity: 0.8;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  display: flex;
  align-items: center;
  gap: 6px;

  p {
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.15px;
  }
}
