.root {
    padding: 10px 20px;
    background-color: #002CFB;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    border-radius: 4px;
    color: #FFF;
    font-size: 14px;
    font-weight: 500;
    line-height: 140%;
    cursor: pointer;
    transition: all 0.15s;
    position: relative;
    text-wrap: nowrap;

    &_width {
        width: 100%;
    }

    &:hover {
        background-color: #0024CB;
    }
}

.loader {
    position: absolute;
    right: 21px;
    background-color: inherit;
    opacity: 0;
    visibility: hidden;
    transition: all 0.15s;

    &_vis {
        opacity: 1;
        visibility: visible;
    }
}

.loaderLeft {
    position: absolute;
    left: 21px;
    background-color: inherit;
    opacity: 0;
    visibility: hidden;
    transition: all 0.15s;

    &_vis {
        opacity: 1;
        visibility: visible;
    }
}

.loaderCenter {
   left: 84px;
}