.actionItem {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.description {
  overflow: hidden;
  color: var(--Text-Primary, #121922);
  text-overflow: ellipsis;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.small {
  .description {
    font-size: 14px;
  }
}

.time {
  overflow: hidden;
  color: var(--Text-Secondary, #71869D);
  text-overflow: ellipsis;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; 
  position: relative;
}

