.gridContainer {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.row {
  display: grid;
  grid-template-columns: 200px 1fr;
  align-items: start;
  gap: 12px;
}

.row p {
  color: var(--Text-Secondary, #71869d);

  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}

.row div {
  color: var(--Text-Primary, #121922);

  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}

.edoElement {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 8px;
}
