.createButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 115px;
  height: 24px;
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 2px 8px;
  border: 1px solid #0047ff;
  border-radius: 4px;
  overflow: hidden;
  color: #002cfb;
  text-overflow: ellipsis;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  cursor: pointer;
}

.icon {
  width: 12px;
  height: 12px;
}
