
.overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
   /*  background-color: var(--color-bg-card-inner); */
    opacity: 1;
    transition: all 0.2s ease-in-out;
    border-radius: 4px;

  
}

.loader {
    flex-shrink: 0;
    height: 100%;
    width: 100%;
    border-radius: 2px;
    background: -webkit-gradient(linear, left top, right top, color-stop(8%, rgba(184, 184, 184, 0.046)), color-stop(18%, rgba(184, 184, 184, 0.2)), color-stop(33%, rgba(196, 196, 196, 0.1)));
    background: linear-gradient(to right, rgba(184, 184, 184, 0.1) 8%, rgba(184, 184, 184, 0.2) 18%, rgba(184, 184, 184, 0.1) 33%);
    background-size: 800px 200px;
    animation: wave 1.8s infinite ease-out;
    transition: all 0.2s ease-in-out;
    &_close {
        opacity: 0;
        /* width: 20px; */
    }

}

@keyframes wave {
    0% {
        background-position: -468px 0;
    }

    100% {
        background-position: 468px 0;
    }
}

