.root {
    width: 340px;
    position: relative;
}

.field {
    width: 100%;
    height: 40px;
    padding: 0 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4px;
    border-radius: 4px;
    border: 1px solid rgba(216, 228, 251, 0.55);
    cursor: pointer;
}

.arrow {
    transition: all 0.15s ease-in-out;

    &_open {
        transform: rotate(180deg);
    }
}

.list {
    position: absolute;
    z-index: 2;
    width: 100%;
    top: 44px;
    border-radius: 4px;
    background: #FFF;
    box-shadow: 0px 10px 30px 4px rgba(0, 0, 0, 0);
    display: flex;
    flex-direction: column;
    max-height: 0;
    opacity: 0;
    transition: all 0.15s ease-in-out;
    overflow: hidden;
    visibility: hidden;

    &_open {
        box-shadow: 0px 10px 30px 4px rgba(0, 0, 0, 0.10);
        max-height: 82px;
        opacity: 1;
        visibility: visible;
    }

    li {
        flex-shrink: 0;
        height: 40px;
        padding: 0 12px;
        display: flex;
        align-items: center;
        gap: 6px;
        font-size: 16px;
        font-weight: 400;
        line-height: 16px;
        cursor: pointer;
        transition: all 0.15s;

        &:hover {
            background-color: #F8FAFD;
        }
    }
}