.root {
  position: relative;
}

.filter {
  position: relative;
  height: 40px;
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 0 12px;
  background-color: #fff;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.15s;

  &:hover {
    background-color: #f8fafd;
  }

  &_active {
    color: #002cfb;
  }
}

.modal {
  position: absolute;
  top: 44px;
  right: 0;
  z-index: 14;
  transform: scale(0.7);
  opacity: 0;
  visibility: hidden;
  transition:
    transform 0.2s ease-in-out,
    opacity 0.2s ease-in-out;

  &_open {
    transform: scale(1);
    opacity: 1;
    visibility: visible;
  }
}
