///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.gridRow {
  display: grid;
  align-items: center;
  padding: 0 20px;
  height: 50px;
  margin-bottom: -1px;
  // border-bottom: 1px solid #eff4fb;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #121922;
  position: relative;
  transition: all 0.15s;

  &:hover {
    .showOnHover {
      opacity: 1;
      pointer-events: auto;
    }
  }

  .showOnHover {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease;
  }

  &.clientsDebts {
    grid-template-columns: minmax(200px, 1fr) //Контрагент
      minmax(130px, 130px) // ИНН
      minmax(100px, 100px) // КПП
      minmax(100px, 0.5fr) // Сумма
      minmax(140px, 140px) // Нет упд
      minmax(130px, 0.5fr) // Выручка за год
      minmax(140px, 140px) // Дней с заказа
      minmax(150px, 1fr) // Примечание
      minmax(150px, 140px) // Риск
      // minmax(120px, 120px) // Акт Сверки
      minmax(50px, 0.1fr); // Кнопка
    transition: all 0.15s;

    cursor: pointer;

    &:hover {
      background-color: #f8fafd;

      .deleteWrapper {
        opacity: 1;
        pointer-events: auto;
      }
    }
  }

  &.ourDebts {
    grid-template-columns: minmax(200px, 2fr) //Контрагент
      minmax(130px, 130px) // ИНН
      minmax(100px, 100px) // КПП
      minmax(250px, 1fr) // Сумма
      minmax(150px, 1.5fr) // Примечание
      minmax(140px, 140px) // Риск
      // minmax(120px, 120px) // Акт Сверки
      minmax(50px, 0.1fr); // Кнопка

    cursor: pointer;
    transition: all 0.15s;

    &:hover {
      background-color: #f8fafd;

      .deleteWrapper {
        opacity: 1;
        pointer-events: auto;
      }
    }
  }
}

.line {
  margin: -1px 20px 0;
  width: calc(100% - 40px);
  height: 1px;
  background-color: #f8fafd;
}

.gridCell {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 0 20px 0 0;

  &.right {
    // justify-self: end;
    text-align: right;
    // padding-right: 0;
  }

  &.center {
    text-align: center;
  }

  &.gray {
    color: #71869d;
  }

  &.bigPadding {
    padding-right: 40px;
  }

  &.button {
    display: flex;
    justify-content: center;
    padding: 0;
  }
}

.toggleBtn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 4px;

  .chevronIcon {
    display: inline-block;
    transition: transform 0.3s ease;
    width: 24px;
    height: 24px;

    &.open {
      transform: rotate(0.5turn);
    }
  }
}

.accordionContent {
  overflow: hidden;
}

.firstCell {
  padding-left: 20px;
}

.companyName {
  display: flex;
  gap: 8px;
  align-items: center;
}

.act {
  padding: 3px 8px;
  text-align: center;
  height: 24px;
  color: #002cfb;
  border-radius: 4px;
  border: 1.5px solid #002cfb;

  &:hover {
    color: #0024cb;
    border-color: #0024cb;
  }
}

.toggleBtn,
.act {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease;
}