.overlay {
  min-height: 100vh;
  position: relative;
  width: 100%;
  overflow: hidden;
}

.root {
  table-layout: fixed;
  width: 100%;
  max-width: 100%;
  padding: 0 28px;
  background-color: #fff;
  border-radius: 8px;
  border-spacing: 0;
  opacity: 1;
  color: #121922;
/*   overflow: hidden; */
  // max-height: 90vh;
  margin-bottom: 50px;
}

.gridRow {
  display: grid;
  padding: 0 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #121922;
  position: relative;
  grid-template-columns:
    minmax(100px, 100px)
    minmax(600px, 600px)
    minmax(230px, 1fr)
    minmax(150px, 0.5fr)
    minmax(150px, 1fr);
  &.evenRow {
    background-color: #f8fafd;
  }
}

.gridCell {
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 12px 20px 12px 0;

  &.right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
  }
  &.center {
    text-align: center;
  }
  &.gray {
    color: #71869d;
  }
  &.bigPadding {
    padding-right: 40px;
  }
  &.button {
    display: flex;
    justify-content: center;
    padding: 0;
  }
}

.gridHeader {
  @extend .gridRow;
  font-weight: 500;
  color: #71869d;

  &:hover {
    background-color: transparent !important;

    .deleteWrapper {
      opacity: 0 !important;
      pointer-events: none !important;
    }
  }
  > div {
    padding: 16px 20px 16px 0;
  }
}

.updHeader {
  padding-left: 225px !important;
}

.toggleBtn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 4px;
  .chevronIcon {
    display: inline-block;
    transition: transform 0.3s ease;
    width: 24px;
    height: 24px;

    &.open {
      transform: rotate(0.5turn);
    }
  }
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease;
}
.operationItem {
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 24px;
  justify-content: end;

  gap: 10px;
  cursor: pointer;
  &:hover {
    color: #002cfb;
    * {
      color: #002cfb;
    }
  }
  &.noHover {
    cursor: default;
    &:hover {
      color: inherit !important;
      background: inherit !important;
      text-decoration: none !important;
    }
    * {
      color: inherit !important;
    }
  }
}
.transactionItem {
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 24px;
  min-width: 0;
  align-items: center;
  justify-content: flex-start;

  // &:hover {
  //   color: #002cfb;
  // }
}

.right {
  text-align: right;
}

.gray {
  color: #71869d;
}

.act {
  padding: 3px 8px;
  text-align: center;
  height: 24px;
  color: #002cfb;
  border-radius: 4px;
  border: 1.5px solid #002cfb;
  &:hover {
    color: #0024cb;
    border-color: #0024cb;
  }
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease;
}
.purchaseContainer,
.transactionSumContainer {
  display: flex;
  // justify-content: center;
  flex-direction: column;
  align-items: flex-end;
  padding: 12px 20px 12px 0;
  // gap: 6px;
}
.justifyCell {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

////////////rows
.infoContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 12px 20px 12px 0px;
}
.infoUpdBlock {
  align-items: flex-start;
  width: 230px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 6px;
}
.infoOrdersBlock {
  width: 230px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 6px;
}

.right {
  text-align: right;
}

.gray {
  color: #71869d;
}
.line {
  width: 100%;

  height: 1px;
  background-color: #eaf0fa;
  margin: 0;
}
.purchaseContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  padding: 12px 20px 12px 0px;
  gap: 6px;
}
.operationAlert {
  justify-content: flex-end;
  display: flex;
  flex-direction: row;
  gap: 6px;
  align-items: center;
}
.orangeText {
  color: #f89500;
  text-align: right;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  // white-space: nowrap;
}
.red {
  color: #e10d0d;
}
.noData {
  text-align: left;
  color: #71869d;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.line {
  width: 100%;
  height: 1px;
  background-color: #eaf0fa;
  margin: 0;
}