.root {
    display: flex;
    flex-direction: column;
    padding: 20px 24px;
    width: 100%;
    border-radius: 8px;
    background: #fff;
}
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.tableHeader {
    &:hover {
        background: inherit !important;
        cursor: default !important;
    }
    div {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        color: #71869d;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px;
    }
}

.gridRow {
    height: 50px;
    display: grid;
    grid-template-columns: 1fr 150px 80px 1fr 40px;
    column-gap: 20px;
    align-items: center;
    padding-left: 20px;
    border-bottom: 1px solid #eaf0fa;
    position: relative;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    column-gap: 20px;
    transition: all 0.15s;
    &:hover {
        background: #f8fafd;
    }
}

.gridRow > div:not(.progress) {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.createHeaderRow {
    display: grid;
    grid-template-columns: 3fr 1fr 40px;
}
.empty {
    color: var(--Text-Secondary, #71869d);
    padding: 20px 24px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}
.companyInfo {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 4px;
    flex-shrink: 0;
    min-width: 0;
}

.flexCell {
    display: flex;

    align-items: center;
    justify-content: space-between;

    > .companyInfo {
        flex-shrink: 0;
    }
}

.optionsBtn {
    color: #adbfdf;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: color 0.2s;

    &:hover {
        color: #002cfb;
    }

    svg {
        width: 16px;
        height: 16px;
    }
}

.grayText {
    color: var(--Text-Secondary, #71869d);

    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}
.docCount {
    display: flex;
    align-items: center;
    gap: 4px;
    justify-content: center;
}

.dropDownMenu {
    position: absolute;
    top: 100%;
    right: 0;
    margin-top: 6px;
    background: #fff;
    border-radius: 4px;
    z-index: 11;
    min-width: 180px;
    border-radius: 4px;
    box-shadow: 0 10px 30px 4px rgba(0, 0, 0, 0.1);
}
.dropDownItem {
    width: 250px;
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 8px 12px;
    cursor: pointer;
    font-size: 14px;
    color: #333;
    transition: all 0.15s;

    &:hover {
        background-color: #f8fafd;
    }
}
.delete {
    color: #e10d0d;
}
.personCell {
    display: flex;
    align-items: center;
    gap: 12px;
}
