.modal {
    font-family: Inter;
    background-color: #fff;
    box-shadow: 0px 0px 50px 0px rgba(129, 135, 163, 0.2);
    border-radius: 8px;
    padding: 20px 24px;

    width: 600px;
    height: auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.close {
    cursor: pointer;
}
.title {
    display: flex;
    align-items: center;
    gap: 4px;

    p {
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
    }
}
.subTitle {
    color: #121922;

    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0.056px;
}

.close {
    cursor: pointer;
    transition: all 0.15s;

    &:hover {
        opacity: 0.8;
    }
}
.content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contentItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contentInfo {
    display: flex;
    align-items: center;
    gap: 8px;
}

.contentBadge {
    border-radius: 8px;
    background: rgba(254, 233, 239, 0.5);
    display: flex;
    width: 60px;
    height: 30px;
    padding: 12px 0;
    justify-content: center;
    align-items: center;
}

.contentText {
    font-size: 14px;
    color: #333;
}
.btns {
    display: flex;
    justify-content: flex-end;
    gap: 12px;
}
.contentSubItem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
}
