.toplineRoot {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 50px;
}

.toplineContent {
  display: flex;
  gap: 10px;
}

.toplineTitle {
  color: #71869d;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

.toplineSum {
  color: #121922;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

.transactionItem {
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 24px;
  justify-content: flex-start;

  gap: 6px;
  &:hover {
    color: #002cfb;
  }
}
.line {
  width: 100%;
  height: 1px;
  background-color: #eaf0fa;
  margin: 0;
}
