.root {
    width: 100%;

}

.overlay {

    border-radius: 8px;
    background: #FFF;
    overflow: hidden;
    position: relative;
    transition: all 0.15s ease-in-out;

    &_drag {
        background-color: rgba(0, 44, 251, 0.05);
    }

    &_image {
        box-sizing: border-box;
        padding: 16px;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        display: flex;
        justify-content: flex-end;
        background: linear-gradient(180deg, #3737384c 5%, rgba(13, 10, 0, 0) 96%);
        opacity: 0;
        transition: all 0.15s ease-in-out;
    }

    &_vis {
        opacity: 1;
    }
}

.field {
    height: 120px;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='8' ry='8' stroke='%23EAF0FA' stroke-width='3' stroke-dasharray='6%2c 10' stroke-dashoffset='30' stroke-linecap='square'/%3e%3c/svg%3e");
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: visible;
    transition: all 0.15s ease-in-out;

    &_hidden {
        visibility: hidden;
        opacity: 0;
    }

    &_doc {
        visibility: hidden;
        pointer-events: none;
        opacity: 0;
        height: 60px !important;
    }
}

.drag {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='8' ry='8' stroke='%23002CFB' stroke-width='3' stroke-dasharray='6%2c 10' stroke-dashoffset='30' stroke-linecap='square'/%3e%3c/svg%3e");
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    transition: all 0.15s ease-in-out;

    &_vis {
        opacity: 1;
        z-index: 1;
    }
}

.text {
    margin: 0;
    padding: 0 24px;
    text-align: center;

    span {
        color: #002CFB;
        cursor: pointer;

        &:hover {
            color: #0024cb;
        }
    }

    &_second {
        color: #0028E5;
    }
}

.error {
    height: 28px;
    display: flex;
    align-items: flex-end;
    color: #E10D0D;
    line-height: 16px;
    flex-shrink: 0;
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: all 0.25s ease-in-out;

    p {
        margin: 0;
        padding: 0;
    }

    &_active {
        height: 28px;
        opacity: 1;
    }
}

.doc {
    box-sizing: border-box;
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    border: 1px solid #ECF2FC;
    border-radius: 8px;
    background: #F8FAFD;
    z-index: -1;
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 0 20px;
    flex-wrap: nowrap;
    opacity: 0;
    transition: all 0.15s ease-in-out;

    &_vis {
        opacity: 1;
        z-index: 1;
    }
}

.block {
    display: flex;
    align-items: center;
    gap: 6px;
    width: 100%;
    overflow: hidden;
    flex-shrink: 30;

    p {
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        margin: 0;
        padding: 0;
        text-wrap: nowrap;
    }
}

.buttons {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    gap: 12px;
    height: fit-content;
}

.button {
    font-family: inherit;
    background: none;
    outline: none;
    border: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    gap: 4px;
    cursor: pointer;
    transition: all 0.15s;

    svg path {
        transition: all 0.15s;
    }


    &_download {
        color: #002CFB;


        &:hover {
            color: #0024cb;

            svg path {
                fill: #0024cb;
            }
        }
    }

    &_delete {
        color: #E10D0D;

        &:hover {
            color: #c10d0d;

            svg path {
                fill: #c10d0d;
            }
        }
    }

    p {
        margin: 0;
        padding: 0;
        font-size: 16px;
        font-weight: 500;
        line-height: 16px;
    }

    &_overlay {
        transition: all 0.15s;
        cursor: pointer;

        &:hover {
            opacity: 0.7;
        }

    }
}


.image {
    box-sizing: border-box;
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    border: 1px solid #ECF2FC;
    border-radius: 8px;
    background: #F8FAFD;
    z-index: -1;
    opacity: 0;
    transition: all 0.15s ease-in-out;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &_vis {
        opacity: 1;
        z-index: 1;
    }
}