.input {
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    border-radius: 4px;
    border: 1px solid rgba(216, 228, 251, 0.55);
    background-color: #ffffff00;
    transition: all 0.15s;

    &:disabled {
        background-color: rgba(212, 223, 243, 0.17);
        color: #121922;
    }
}