.root {
    display: flex;
    gap: 20px;
    flex-direction: column;
    padding: 20px 24px;
    border-radius: 8px;
    background-color: #FFF;

    &_disabled {
        input {
            pointer-events: none;
            background-color: rgba(212, 223, 243, 0.17);
        }
    }
    
}

.header {
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    flex-direction: column;
}

.subs {
    display: flex;
    align-items: center;
    gap: 12px;
    height: 16px;
    margin-bottom: -6px;

    span {
        font-size: 16px;
        font-weight: 400;
        line-height: 16px;
        color: #71869D;
    }
}

.number {
    width: 24px;
    flex-shrink: 0;
}

.name {
    width: 100%;

    @media(max-width: 2000px) {
        min-width: 460px;
    }
}

.count {
    width: 60px;
    flex-shrink: 0;
}

.units {
    width: 80px;
    flex-shrink: 0;
}

.code {
    width: 60px;
    flex-shrink: 0;
}

.price {
    width: 150px;
    flex-shrink: 0;

     @media(max-width: 2000px) {
        width: 145px;
    }
}

.total {
    width: 150px;
    flex-shrink: 0;

     @media(max-width: 2000px) {
        width: 145px;
    }
}

.button {
    width: 16px;
    flex-shrink: 0;
}

.button_add {
    flex-shrink: 0;
    color: #002CFB;
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    display: flex;
    align-items: center;
    gap: 6px;
    cursor: pointer;
    transition: all 0.15s;

    svg path {
        transition: all 0.15s;
    }

    &:hover {
        svg path {
            fill: #0024CB;
        }

        color: #0024CB;
    }

    &_hidden {
        pointer-events: none;
        opacity: 0;
    }

}

.error {
    opacity: 0;
    height: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    color: #E10D0D;
    transition: all 0.2s ease-in-out;

    svg {
        margin-bottom: -2px;
    }


    &_vis {
        margin-top: 6px;
        opacity: 1;
        height: 20px;
    }
}

.bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 28px;
}