.wrapper {
  width: 130px;
  display: flex;
  align-items: center;
  flex-direction: row;
  border: 1px solid #e0e5f2;
  border-radius: 4px;
  background-color: #fff;
  padding: 10px 12px;
  transition: border 0.2s ease;

  &:hover {
    border: 1px solid #002cfb;
  }
  &:active {
    border: 1px solid #002cfb;
  }
}

.inputBox {
  border: none;
  background: transparent;
  flex: 1;
  min-width: 0;
  outline: none;
  cursor: text;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #121922;
  font-size: 14px;
  line-height: 14px;
}

.icon {
  width: 18px;
  height: 18px;
  margin-left: 8px;
  flex-shrink: 0;
  cursor: pointer;
  &:hover {
    path {
      fill: #002cfb;
    }
  }
}
