.root {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.container {
    display: flex;
    gap: 20px;

    @media(max-width: 1900px) {
        flex-direction: column;
    }
}

.left {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    min-width: 1000px;
    max-width: 1840px;
}

.right {
    min-width: 500px;
    width: 100%;
    flex-shrink: 10;
    display: flex;
    flex-direction: column;
    gap: 20px;

    @media(max-width: 2000px) {
        min-width: 450px;
    }
}

.preview {

    height: 580px;
    width: 100%;
    background: #ffffff;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    justify-content: center;
    text-wrap: nowrap;


    p {
        color: #ADBFDF;
        width: 370px;
        text-align: center;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px;
    }

    img {
        height: 248px;
        width: auto;
    }

    @media(max-width: 1900px) {
        display: none;
    }

}

.pro {
    width: 100%;
    height: fit-content;
    background: #ffffff;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-wrap: nowrap;
    padding: 20px 16px;
    overflow: hidden;


    p {
        font-weight: 500;
        color: #002CFB;
        display: flex;
        align-items: center;
        gap: 4px;
        cursor: pointer;
    }
}