.root {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.infoTitle {
  display: flex;
  flex-direction: row;
  gap: 6px;
  align-items: center;
  color: var(--Text-Secondary, #71869d);

  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}
.header {
  &:hover {
    background: inherit !important;
    cursor: default !important;
  }
  div {
    // overflow: hidden;
    // text-overflow: ellipsis;
    white-space: nowrap;
    color: #71869d;
  }
}

.gridRow {
  height: 50px;
  display: grid;
  grid-template-columns: 1fr 2fr 0.5fr 0.2fr;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid #eaf0fa;

  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  cursor: pointer;
  column-gap: 20px;
  transition: all 0.15s;
  &:hover {
    background: #f8fafd;
  }

  // &:last-child {
  //     border-bottom: none;
  // }

  div {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
.empty {
  color: #71869d;
  padding-left: 20px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}

.switchContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
