.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.headerButtons {
    display: flex;
    gap: 8px;
    flex-direction: row;
    // align-items: center;
}
