.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 40px;

    opacity: 0;
    transition: all 0.15s;

    &_vis {
        opacity: 1;
    }
}

.headerButtons {
    display: flex;
    gap: 8px;
    flex-direction: row;
    // align-items: center;
}

.title {}