.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
}
.headerButtons {
  display: flex;
  gap: 8px;
  flex-direction: row;
  // align-items: center;
}
