.mainInfo {
    display: flex;
    flex-direction: column;
    padding: 20px 24px;
    gap: 20px;
    width: 100%;
    border-radius: 8px;
    background: #fff;
}
.row {
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
    align-items: flex-end;
}
.switch {
    display: flex;
    align-items: flex-end;
    padding-bottom: 12px;
}
.numberInputWrapper {
    display: flex;
    flex-direction: row;
    gap: 6px;
}