.root {
  // padding: 0 24px 20px 24px;
  width: 100%;
  box-sizing: border-box;
  max-width: 100%;

  border-radius: 0 0 8px 8px;
  border-spacing: 0;
  color: var(--Text-Primary, #121922);
  transition: all 0.2s ease-in-out;
  opacity: 0;
  visibility: hidden;
  position: absolute;

  //   top: 65px;

  &_vis {
    visibility: visible;
    opacity: 1;
    z-index: 10;
  }
}

.mainContent {
  padding: 20px 24px;
  border-radius: 8px;
  gap: 20px;
  background: var(--White, #fff);
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 726px;
}

.rightPanel {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.rightBlock {
  padding: 20px 24px;
  width: 500px;
  height: 180px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  border-radius: 8px;
  background: var(--White, #fff);
}

.contentWrapper {
  display: flex;
  gap: 12px;
  flex-direction: row;
}

.rowWrapper {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.row {
  height: 22px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.links {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
  background: #f1f4f9;
}

.btns {
  display: flex;
  flex-direction: row;
  gap: 6px;
}

.tabsWrapper {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.contentHeader {
  border-radius: 8px;
  padding: 20px 24px;
  background: #f8fafd;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.gridContainer {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.rowTab {
  display: grid;
  grid-template-columns: 270px 1fr;
  align-items: start;
  gap: 12px;
}

.rowTab p {
  color: var(--Text-Secondary, #71869d);

  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}