.root {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.header {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.subTitle {
    color: #121922;
    text-overflow: ellipsis;

    font-size: 14px !important;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
}
.block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.queryPanel {
    display: flex;
    justify-content: space-between;
}
.container {
    height: auto;
    overflow: visible;
    overflow-y: auto;
}
.searchPanel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
}

//анимация подзаголовка
.subtitle {
    display: inline-block;
    transition: opacity 0.3s ease;
}

.fadeIn {
    opacity: 1;

    animation: fadeIn 0.3s ease;
}

.fadeOut {
    opacity: 1;

    animation: fadeOut 0.3s ease;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
