.wrapper {
  position: relative;
}

.root {
  display: flex;
  gap: 20px;
  flex-direction: column;
  // padding: 20px 24px;
}

.rootLoading {
  opacity: 0.4;
  pointer-events: none;
}
.content {
  display: flex;
  flex-direction: row;
  gap: 12px;
}
.leftCol,
.rightCol {
  display: flex;
  flex-direction: column;
  gap: 12px;
  transition: all 0.15s ease-in-out;
}
.leftCol {
  width: 100%;
}

.rightCol {
  width: 500px;
  opacity: 1;

  transition: all 0.25s ease;
}

.rightColHidden {
  width: 0;
  opacity: 0;
}
