.root {
    width: 100%;
    width: 500px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 6px;

    input {
        text-align: start;
        padding: 0 12px;
    }
}

.sub {
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    color: #71869D;
}


.error {
    opacity: 0;
    height: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    color: #E10D0D;
    transition: all 0.2s ease-in-out;

    &_vis {
        margin-top: 6px;
        opacity: 1;
        height: 20px;
    }
}