.modal {
  padding: 20px 30px 40px 40px;
  font-family: Inter;
  width: 660px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .modalHeader {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    margin-bottom: 12px;
  }

  .title {
    font-size: 20px;
    font-weight: 600;
  }

  .close {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .body {
    width: 100%;
    display: flex;
    flex-direction: column;
    // gap: 20px;
  }
  p {
    margin-bottom: 12px;
  }
  .subtitle {
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    margin-top: 8px;
    margin-bottom: 12px;
  }

  .text {
    font-size: 14px;
    line-height: 1.4;
  }

  .list {
    padding-left: 20px;
    margin-bottom: 12px;
    list-style-type: disc;
    font-size: 14px;

    li {
      margin-bottom: 4px;
    }
  }
}
