.modal {
  padding: 20px 24px;
  width: 700px;
  font-family: Inter;

  .modalHeader {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
    height: 40px;
  }

  .title {
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 20px;
    font-weight: 600;
  }

  .close {
    position: absolute;
    top: 25%;
    right: 0;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .body {
    width: 652px;
    padding: 12px;
    border-radius: 4px;
    min-height: 400px;
    background: rgba(212, 223, 243, 0.17);
  }
}

.paymentDetails {
  background: #fafbfd;
  border-radius: 12px;
  max-width: 800px;
  font-size: 14px;
  color: #2c3e50;
}

.gridHeader {
  display: grid;
  grid-template-columns: 120px 1fr 1fr;
  text-align: left;
  margin: 0px 0 12px;

  & > div {
    color: #71869d;
    padding: 6px 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
  }

  & > div:first-child {
    border-bottom: none;
  }

  & > div:nth-child(2),
  & > div:nth-child(3) {
    border-bottom: 1px solid #eff4fb;
    width: 200px;
  }
}

.gridInfo {
  display: flex;
  flex-direction: column;
  gap: 4px;

  > .row {
    display: grid;
    grid-template-columns: 108px 1fr 1fr;
    column-gap: 12px;
    color: black;
    margin-bottom: 12px;

    & > div:first-child {
      text-align: right;
      color: #71869d;
      font-size: 14px;
      line-height: 14px;
    }

    & > div:nth-child(2),
    & > div:nth-child(3) {
      max-width: 244px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.paymentsRow {
  display: flex;
  align-items: flex-start;
  /* overflow: hidden; */
  gap: 0;
  margin-bottom: 12px;

  .content {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #121922;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4;
    word-break: break-word;
    max-width: 496px;
    flex: 1;

    &_2 {
      cursor: pointer;
      overflow: visible;
    }
  }
}

.paymentsLabel {
  margin-right: 12px;
  width: 108px;
  text-align: right;
  color: #71869d;
  font-size: 14px;
  line-height: 1.4;
}

.sectionSubtitle {
  width: 100%;
  display: flex;
  align-items: center;
  height: 30px;
  border-bottom: 1px solid #eff4fb;
  font-weight: 400;
  color: #6c7a89;
  margin-bottom: 12px;
}

.paymentSummary {
  margin-top: 8px;

  .sectionSubtitle {
    width: 200px;
    margin-left: 120px;
    padding-bottom: 6px;
    font-size: 14px;
  }
}
.controlSection {
  display: flex;
  flex-direction: column;
  padding-top: 20px;

  .control {
    display: flex;
    justify-content: flex-start;
    gap: 12px;
    margin-bottom: 20px;
  }

  .control_btn {
    justify-content: flex-end;
    display: flex;
    align-items: flex-end;
    gap: 6px;
  }
}

.footer {
  display: flex;
  justify-content: flex-end;
  gap: 6px;
}

.combobox {
  width: 100%;
  margin-bottom: 20px;
}
