.infoTitle {
  display: flex;
  flex-direction: row;
  gap: 6px;
  align-items: center;
  color: var(--Text-Secondary, #71869d);

  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}
.root {
  display: flex;
  flex-direction: column;
  gap: 12px;
  // opacity: 0;
  transition: all 0.15s ease-in-out;

  &_anim {
    opacity: 1;
  }
}

.container {
  padding: 20px 24px;
  border-radius: 8px;
  background: #fff;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.block {
  display: flex;
  // gap: 20px;
  justify-content: space-between;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.add {
  display: flex;
  align-items: center;
  gap: 6px;
  height: 40px;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  color: #002cfb;
  user-select: none;
  cursor: pointer;
  transition: all 0.15s;

  svg path {
    transition: all 0.15s;
  }

  &:hover {
    color: #0024cb;

    svg path {
      fill: #0024cb;
    }
  }
}

.span {
  color: #71869d;
}

.subs {
  color: #71869d;
  display: flex;
  gap: 12px;
  margin: 0 28px 0 31px;

  span {
    flex-shrink: 0;
  }

  span:first-child {
    flex-shrink: 10;
  }
}
.empty {
  color: #71869d;
  padding-left: 20px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}
