.root {
    width: 100%;
    padding: 6px 20px;
    display: flex;
    gap: 6px;
    cursor: pointer;
    transition: all 0.15s;

    &:hover {
        background-color: rgba(212, 223, 243, 0.17);
    }
}

.block {
    display: flex;
    flex-direction: column;
    gap: 2px;

    p {
        font-size: 16px;
        font-weight: 400;
        line-height: 16px;
    }
}

.subs {
    display: flex;
    gap: 12px;

    span {
        font-size: 16px;
        font-weight: 400;
        line-height: 16px;
        color: #71869D;
    }
}

.label {
    max-width: 140px;
    border-radius: 4px;
    background: #F1F4F9;
    padding: 0 8px;
    height: 24px;
    display: flex;
    align-items: center;
    color: #71869D;

    font-size: 14px;
    font-weight: 400;
    line-height: 18px;

    margin-left: auto;


    p {
        text-overflow: ellipsis;
        overflow: hidden;
        text-wrap: nowrap;
    }
}