.root {
    display: flex;
    flex-direction: column;
    max-height: 160px;
    overflow: auto;

    &_column {
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        li {
            font-size: 16px;
            width: 50%;
        }
    }
}

.item {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    gap: 12px;
    cursor: pointer;
    height: 40px;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
}