.root {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #f1f4f9;
    opacity: 0;
    visibility: hidden;
    transition: all 0.15s;

    &_vis {
        opacity: 1;
        visibility: visible;
    }
}

.header {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    h2 {
        font-size: 22px;
        font-weight: 600;
        line-height: 22px;
    }
}

.title {
    display: flex;
    gap: 2px;
    align-items: center;
}

.container {

    display: flex;
    gap: 20px;

    &_2 {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}

.left {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    min-width: 1000px;
    max-width: 1840px;
}

.maininfo {
    display: flex;
    gap: 20px;
    flex-direction: column;
    padding: 23px 24px 20px 24px;
    border-radius: 8px;
    background-color: #FFF;


}

.block {
    display: flex;
    gap: 20px;
}

.sub {
    height: 16px;
    display: flex;
    align-items: flex-end;
}

.field {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.input {
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    border-radius: 4px;
    /*   border: 1px solid rgba(216, 228, 251, 0.55); */
    position: relative;

    &_2 {
        width: 140px;
    }
}

.services {
    display: flex;
    gap: 20px;
    flex-direction: column;
    padding: 20px 24px;
    border-radius: 8px;
    background-color: #FFF;
}


.subs {
    display: flex;
    align-items: flex-end;
    gap: 12px;
    height: 16px;


    span {
        font-size: 16px;
        font-weight: 400;
        line-height: 16px;
        color: #71869D;
    }
}

.position {
    display: flex;
    align-items: center;
    gap: 12px;
    width: 100%;
    height: 40px;

    div {
        border-radius: 4px;
    }
}

.number {
    width: 12px;
    flex-shrink: 0;
}

.name {
    width: 100%;
}

.count {
    width: 60px;
    flex-shrink: 0;
}

.units {
    width: 80px;
    flex-shrink: 0;
}

.code {
    width: 60px;
    flex-shrink: 0;
}

.price {
    width: 150px;
    flex-shrink: 0;
}

.total {
    width: 150px;
    flex-shrink: 0;
}

.button {
    width: 16px;
    flex-shrink: 0;
}

.button_add {
    flex-shrink: 0;
    color: #002CFB;
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    display: flex;
    align-items: center;
    gap: 6px;
    cursor: pointer;
    transition: all 0.15s;

    svg path {
        transition: all 0.15s;
    }

    &:hover {
        svg path {
            fill: #0024CB;
        }

        color: #0024CB;
    }

}

.bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 28px;
}

.preview {
    height: 580px;
    min-width: 480px;
    width: 100%;
    flex-shrink: 10;
    background: #ffffff;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    justify-content: center;

    @media(max-width: 2000px) {
        min-width: 450px;
    }

    @media(max-width: 1900px) {
        display: none;
    }

    p {
        color: #ADBFDF;
        width: 370px;
        text-align: center;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px;
    }

    img {
        height: 248px;
        width: auto;
    }

}