.root {
  position: relative;
}

.filter {
  height: 40px;
  display: flex;
  align-items: center;
  gap: 4px;
  border-radius: 4px;
  background-color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #71869d;
  cursor: pointer;
  transition: all 0.15s;

  &:hover {
    background-color: #f8fafd;
  }

  &_active {
    color: #002cfb;
  }
}
.filter {
  box-shadow: 0 0 6px 0 rgba(0, 32, 51, 0.05);
  border-radius: 4px;
  border: 1px solid #ecf2fc;
  background: #fff;
}
