.root {
  position: relative;
}

.modal {
  min-width: 400px;
  position: absolute;
  right: 0;
  top: 44px;
  z-index: 2;
  transition: all 0.2s ease-in-out;
  transform: scale(0.7);
  opacity: 0;
  visibility: hidden;

  padding: 12px 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0px 10px 30px 4px rgba(0, 0, 0, 0.1);

  &_open {
    visibility: visible;
    transform: scale(1);
    opacity: 1;
  }
}

.block {
  display: flex;
  flex-direction: column;
  // gap: 20px;
  // margin-bottom: 20px;
}
.blockTitle {
  height: 30px;
  display: flex;
  align-items: center;
  height: 30px;
  color: #71869d;
  font-size: 14px;
  line-height: 18px;
  border-bottom: 1px solid #eff4fb;
}
.buttons {
  display: flex;
  align-items: center;
  gap: 10px;
}
.item {
  display: flex;
  align-items: center;
  gap: 12px;
  padding-right: 20px;
  margin-right: 20px;
  height: 40px;
  font-size: 14px;
  cursor: pointer;
}
