.root {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;

    h2 {
        font-size: 22px;
        font-weight: 600;
        line-height: 22px;
    }
}