.field {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

span {
    color: #71869D;
}

.input {
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: 4px;
    padding: 0 12px;
    border: 1px solid rgba(216, 228, 251, 0.55);
    flex-shrink: 0;

    &::placeholder {
        color: #71869D;
    }
}