.container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.field {
    position: relative;
    height: 40px;
    /*   width: 690px; */
    width: 100%;
    padding: 10px 12px;
    display: flex;
    align-items: center;
    border-radius: 4px;
    outline: 1px solid rgba(216, 228, 251, 0.55);
    transition: all 0.15s;

    &_focus {
        outline-color: #002cfb;
    }

    input {
        width: 100%;
        font-size: 16px;
        line-height: 16px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    &_disabled {
        background-color: rgba(212, 223, 243, 0.17);
        color: #121922;
    }
}

.button {
    flex-shrink: 0;
    text-wrap: nowrap;
    display: flex;
    align-items: center;
    gap: 6px;
    cursor: pointer;
    overflow: hidden;
    transition: opacity 0.1s;

    svg {
        padding-left: 8px;
    }

    p {
        font-size: 16px;
        line-height: 16px;
        font-weight: 400;
        color: var(--color-button-accent);
    }

    &_hidden {
        width: 0;
        opacity: 0;
    }
}

.list {
    list-style-type: none;
    width: 100%;
    position: absolute;
    z-index: 2;
    left: 0;
    top: 47px;
    padding: 0;
    max-height: 0;
    overflow: hidden;
    height: fit-content;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0px 0px 10px 0px rgba(0, 32, 51, 0.1);
    transition: all 0.2s;

    &_open {
        max-height: 320px;
    }

    li {
        padding: 8px 12px;
        display: flex;
        flex-direction: column;
        cursor: pointer;
        gap: 6px;
        /*  transition: all 0.15s; */

        &:hover {
            background-color: #d4dff32b;
        }

        p {
            font-size: 16px;
            font-weight: 400;
            line-height: 16px;
        }

        span {
            color: var(--color-text-secondary);
            font-size: 14px;
            line-height: 14px;
        }

        &:first-child {
            margin-top: 6px;
        }

        &:last-child {
            margin-bottom: 6px;
        }
    }
}
.item {
    width: fit-content;
}

.block {
    display: flex;
    align-items: center;
    gap: 6px;
    width: 100%;
}

.map {
    overflow: hidden;
    height: 380px;
    width: 100%;
    padding-top: 12px;
    transition: all 0.2s ease-in-out;

    &_hidden {
        height: 0;
        opacity: 0;
    }
}
