.checkbox {
    border-radius: 4px;
    border: 2px solid rgba(173, 191, 223, 0.40);
    box-sizing: border-box;
    width: 16px;
    height: 16px;
    cursor: pointer;
    transition: all 0.15s ease-in-out;

    &_disabled {
        opacity: 0.4;
    }

    &:hover {
        border-color: #002CFB;
        opacity: 0.8;
    }

    div {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
            width: 84%;
            height: 84%;
            transform: scale(0);
            transition-delay: 0.15s;
            transition: all 0.15s ease-in-out;
        }
    }

    p {
        user-select: none;
        font-size: 16px
    }

    &_active {
        background-color: #002CFB;
        border-color: #002CFB;

        div {
            svg {
                transform: scale(1);
            }
        }

    }

    &_dis {
        pointer-events: none;
        opacity: 0.6;
    }
}