.root {
    width: 100%;
    min-width: 300px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.sub {
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    color: #71869d;
}

.field {
    width: 100%;
    height: 41px;
    display: flex;
    align-items: center;
    padding: 0 12px;
    border-radius: 4px;
    border: 1px solid rgba(216, 228, 251, 0.55);
    background: #fff;
    box-sizing: border-box;
    cursor: pointer;
    position: relative;
    transition: all 0.25s ease-in-out;

    input {
        width: 100%;
        height: 100%;
        border: none;
        outline: none;
        background: transparent;
        color: #1c1e21;
        font-size: 15px;
        cursor: inherit;

        &::placeholder {
            color: #9aa6b8;
        }

        &:disabled {
            color: #71869d;
        }
    }

    &_disabled {
        cursor: default;

        svg {
            opacity: 0;
            pointer-events: none;
        }
    }

    &_disabledover {
        background-color: rgba(212, 223, 243, 0.17);
    }

    &_error {
        border: 1px solid #e10d0d;
    }
}

.chewron {
    cursor: pointer;
    margin-left: auto;
    transition: all 0.25s ease-in-out;

    &_open {
        transform: rotate(180deg);
    }
}
.placeholder {
    overflow: hidden;
    color: var(--Text-Secondary, #71869d);
    text-overflow: ellipsis;

    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}

.block {
    position: absolute;
    top: 46px;
    left: 0;
    width: 100%;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0px 10px 30px 4px rgba(0, 0, 0, 0);
    height: fit-content;
    overflow: hidden;
    max-height: 0;
    transition: all 0.25s ease-in-out;
    z-index: 10;

    &_open {
        box-shadow: 0px 10px 30px 4px rgba(0, 0, 0, 0.1);
        max-height: 350px;
    }

    &_scroll {
        overflow-y: auto;
    }
}

.list {
    // padding: 8px 0;
    display: flex;
    flex-direction: column;
}

.option {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 8px 12px;
    height: 40px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    color: var(--Text-Primary, #121922);
    text-align: center;

    /* Body normal */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 100% */

    &:hover {
        background: #f3f6fc;
    }

    &.selected {
        background: #e6efff;
        font-weight: 500;
    }
}

.notfound {
    padding: 10px 12px;
    color: #71869d;
    font-size: 14px;
}

.error {
    opacity: 0;
    height: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    color: #e10d0d;
    transition: all 0.2s ease-in-out;
    margin-top: -6px;

    &_vis {
        margin-top: 0;
        opacity: 1;
        height: 20px;
    }
}
