.root {
  position: relative;
}

.modal {
  position: absolute;
  right: 0;
  top: 44px;
  z-index: 2;
  transition: all 0.2s ease-in-out;
  transform: scale(0.7);
  opacity: 0;
  visibility: hidden;
  width: 330px;
  padding: 12px 8px 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0px 10px 30px 4px rgba(0, 0, 0, 0.1);

  &_open {
    visibility: visible;
    transform: scale(1);
    opacity: 1;
  }
}

.span {
  margin: 0 12px;
  display: flex;
  align-items: center;
  height: 30px;
  color: #71869d;
  font-size: 14px;
  line-height: 18px;
  border-bottom: 1px solid #eff4fb;
}

.item {
  border-radius: 4px;
  padding: 0 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 32px;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  cursor: pointer;
  transition: all 0.15s;

  &:hover {
    background-color: #f8fafd;
  }
}

.icon {
  opacity: 0;
  transition: all 0.15s;

  &_vis {
    opacity: 1;
  }
}
