
.window {
    position: fixed;
    top: 0;
    left: 0;
    width: 105%;
    margin-right: -10px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s;
    z-index: 1001;
    visibility: hidden;

    &_open {
        background-color: rgba(0, 0, 0, 0.5);
        visibility: visible;
    }
}

.modal {
    background-color: #FFF;
    box-shadow: 0px 0px 50px 0px rgba(129, 135, 163, 0.20);
    border-radius: 8px;
    padding: 20px 24px;
    width: 482px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 20px;
    transition: all 0.2s ease-in-out;
    transform: scale(0.7);
    opacity: 0;
    position: relative;

    &_open {
        transform: scale(1);
        opacity: 1;
    }
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title {
    display: flex;
    align-items: center;
    gap: 4px;

    p {
        font-size: 16px;
        font-weight: 500;
        line-height: 22px;
        letter-spacing: 0.15px;
    }
}

.text {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
}

.close {
    cursor: pointer;
    transition: all 0.15s;

    &:hover {
        opacity: 0.8;
    }
}

.buttons {
    height: 40px;
    display: flex;
    align-items: center;
    gap: 12px;
}

.cancel {
    max-width: 152px;
    width: fit-content;
    height: 100%;
    flex-shrink: 0;
    text-wrap: nowrap;
    padding: 12px 24px;
    box-sizing: border-box;
    border: 1px solid #002CFB;
    color: #002CFB;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0.15px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.15s;

    &:hover {
        border-color: #0028E5;
        color: #0028E5;
    }
}


.action {
    border-radius: 4px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    background-color: #E10D0D;
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0.15px;
    cursor: pointer;
    transition: all 0.15s;

    &:hover {
        background-color: #cb0c0c;
    }

    &:disabled {
        cursor: default;
        background-color: #dc5c5c;
    }

    svg path {
        fill: #FFF;
    }
}

.icon {
    width: 16px;
    height: 16px;
    position: relative;
    display: flex;
    align-items: center;

    svg {
        transition: all 0.15s;
    }

    &_load {

        svg {
            opacity: 0;
        }

    }
}

.loader {
    position: absolute;
    left: 0;
    top: 2px;
    opacity: 0;
    transition: all 0.15s;

    &_vis {
        opacity: 1;
    }
}