.root {
    display: flex;
    flex-direction: column;
    padding: 20px 24px;
    gap: 20px;
    width: 500px;
    border-radius: 8px;
    background: #fff;
}

.openBtn {
    padding-top: 12px;
    display: flex;
    align-items: center;
    gap: 6px;
    cursor: pointer;
    color: #002cfb;
    font-size: 16px;
    font-weight: 500;
    line-height: 140%;
    transition: color 0.2s;

    &:hover {
        color: #0024cb;
    }

    .icon {
        transition: transform 0.2s;
    }

    &.active .icon {
        transform: rotate(180deg);
    }
}
