.personLog {
  display: flex;
  flex-direction: column;
  gap: 4px;
  position: relative;
}

.personHeader {
  display: flex;
  align-items: center;
  gap: 12px;
  position: relative;
}

.avatarContainer {
  flex-shrink: 0;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -15px; 
  z-index: 1;
}

.avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
  display: block;
  position: relative;
  z-index: 2;
  background: #fff;
}

.personInfo {
  min-width: 0;
  overflow: hidden;
  color: var(--Text-Secondary, #71869D);
  text-overflow: ellipsis;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  white-space: nowrap;
}

.small {
  .personInfo {
    font-size: 14px;
  }
}

.position {
  color: var(--Text-Secondary, #71869D);
}

.name {
  color: var(--Text-Secondary, #71869D);
}

.actionsList {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding-left: 25px; 
}


