.createContainer {
  position: relative;
  display: inline-block;
}

.block {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 115px;
  height: 24px;
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 0 0 0 8px;
  border: 1px solid #0047ff;
  border-radius: 4px;
  overflow: hidden;

  &_arrow {
    display: flex;
    align-items: center;
    gap: 4px;
    cursor: pointer;
    padding-right: 4px;
    height: 100%;
  }
}

.createButton {
  display: flex;
  align-items: center;
  gap: 4px;

  color: #002cfb;
  text-overflow: ellipsis;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  cursor: pointer;
  transition: all 0.15s;

  &:hover {
    color: #0024cb;
  }

  &_2 {
    justify-content: end;
    height: 30px;
  }

  &_disabled {
    pointer-events: none;
    color: #71869D;
  }
}

.line {
  width: 1px;
  height: 15px;
  border-radius: 50%;
  background-color: #0047ff;
}

.icon {
  width: 12px;
  height: 12px;
}

.arrow {
  transition: all 0.15s;
  transform: rotate(0);

  &_up {
    transition: all 0.15s;
    transform: rotate(180deg);
  }
}

.dropdownMenu {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;

  position: absolute;
  top: calc(100% + 8px);
  left: -20%;
  z-index: 5;

  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 0 10px 0 rgba(0, 32, 51, 0.1);
  padding: 4px 0;

  width: 140px;

  color: #121922;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  height: 0;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  transition: all 0.15s;

  &_open {
    height: 80px;
    opacity: 1;
    visibility: visible;
  }

  &_2 {
    left: -56%;
    width: 180px;

    &_open {
      opacity: 1;
      visibility: visible;
      height: 160px;
    }
  }

  &_3 {
    left: -56%;
    width: 180px;

    &_open {
      opacity: 1;
      visibility: visible;
      height: 80px;
    }
  }

  &_4 {
    top: 0;
    padding: 12px 12px 4px 12px;
    left: -56%;
    width: fit-content;
    min-width: 180px;
    max-width: 280px;
    height: fit-content;
    max-height: 0;

    span {
      text-wrap: nowrap;
    }

    &_open {
      opacity: 1;
      visibility: visible;
      max-height: 380px;
    }
  }
}

.dropdownItem {
  width: 100%;
  padding: 10px 16px;
  display: flex;
  align-items: center;
  gap: 8px;

  cursor: pointer;
  transition: background-color 0.2s;

  &:hover {
    background-color: #f2f4f7;
  }

  svg {
    flex-shrink: 0;
    width: 18px;
    height: 18px;
  }

  span {
    text-align: left;
    flex: 1;
  }
}

.dropdownItem:hover {
  background-color: #f2f4f7;
}

.dropdownText {
  font-size: 14px;
  line-height: 18px;
  color: #121922;
}