.root {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 8px;
  background: #e6eaff;
  height: 0;
  overflow: hidden;
  transition: all 0.2s;
  opacity: 0;
  height: 64px;
  width: 100%;
  padding: 12px;
  padding-left: 85px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  color: #121922;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  border-radius: 4px;
  &_open {
    opacity: 1;
    height: 64px;
  }
}
