.selected-item {
  text-align: center;
}

.container {
  --highlight-width: auto;
  --highlight-x-pos: 0;
  display: flex;
  user-select: none;
}

.controls {
  box-sizing: border-box;
  display: inline-flex;
  gap: 20px;
  justify-content: space-between;
  padding: 6px 0 12px;
  overflow: hidden;
  position: relative;

  &_2 {
    padding: 5px;
    height: 40px;
    gap: 8px;
    border-radius: 4px;
    background-color: #fff;
  }
}

.controls input {
  opacity: 0;
  margin: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  width: 100%;
  cursor: pointer;
  height: 100%;
}

.segment label {
  cursor: pointer;
  display: block;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
  color: #71869d;
  transition: color 0.5s ease;
}

.segment_2 label {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}

.segment {
  position: relative;
  display: flex;
  flex-direction: row;
  text-align: center;
  gap: 4px;
  z-index: 1;

  &_active {
    label {
      color: #121922;
    }

    &_2 {
      label {
        color: #002cfb;
      }
    }
  }

  &_2 {
    min-width: 130px;
  }

  &_disabled {
    pointer-events: none;
    opacity: 0.6;
  }
}

.controls::before {
  content: '';
  border-bottom: 2px solid #002cfb;
  width: var(--highlight-width);
  transform: translateX(var(--highlight-x-pos));
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  transition:
    transform 0.3s ease,
    width 0.3s ease;
}

.controls_2::before {
  content: '';
  border-bottom: none;
  border-radius: 4px;
  background-color: rgba(0, 44, 251, 0.05);
  width: var(--highlight-width);
  transform: translateX(var(--highlight-x-pos));
  position: absolute;
  top: 5px;
  bottom: 5px;
  left: 0;
  z-index: 0;
  transition:
    transform 0.3s ease,
    width 0.3s ease;
}
sup {
  color: #71869d;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.064px;
  width: fit-content;

  transition: all 0.25s;
}
.count {
  min-width: 12px;
  max-width: 30px;
  opacity: 1;
  width: fit-content;
  transition: all 0.15s;

  &_load {
    max-width: 0;
    opacity: 0;
  }
}
