.root {
    width: fit-content;
    padding: 10px 20px;
    height: 40px;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid  #002CFB;
    display: flex;
    align-items: center;
    gap: 6px;
    border-radius: 4px;
    color: #002CFB;
    font-size: 14px;
    font-weight: 500;
    line-height: 140%;
    cursor: pointer;
    transition: all 0.15s;
    position: relative;
    text-wrap: nowrap;

    svg path {
        transition: all 0.15s;
    }

    &:hover {
        color:  #0024CB;
        border-color: #0024CB;

        svg path {
            fill: #0024CB;
        }
    }
}

.icon {
    transition: all 0.1s;
    &_hidden {
        opacity: 0;
    }
}

.loader {
    position: absolute;
    left: 21px;
    background-color: inherit;
    opacity: 0;
    visibility: hidden;
    transition: all 0.15s;

    &_vis {
        opacity: 1;
        visibility: visible;
    }
}