.badge {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  height: 24px;
  border-radius: 4px;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  white-space: nowrap;
}

.notSent {
  @extend .badge;
  padding: 3px 6px;
  gap: 10px;
  border: 1px solid #adbfdf;
  color: #adbfdf;
  width: 107px;
}

.paper {
  @extend .badge;
  width: 100px;
  background: #002cfb;
  color: white;
}

.edo {
  @extend .badge;
  width: 63px;
  border: 2px solid #002cfb;
  color: #002cfb;
}
