.root {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 450px;
    padding: 12px 0 20px 20px;
    border-radius: 4px;
    background: #FFF;
    box-shadow: 0px 10px 30px 4px rgba(0, 0, 0, 0.10);
}

.container {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.header {
    margin-right: 20px;
    height: 30px;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    color: #71869D;
    border-bottom: 1px solid #EFF4FB;
    display: flex;
    align-items: center;
}

.search {
    height: 40px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 0 12px;
    border-radius: 4px;
    border: 1px solid #EAF0FA;
}

.list {
    max-height: 360px;
    overflow: auto;
}

.item {
    display: flex;
    align-items: center;
    gap: 12px;
    padding-right: 20px;
    margin-right: 20px;
    height: 50px;
    cursor: pointer;
}

.block {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;

    p {
        width: 100%;
        text-wrap: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    span {
        color: #71869D;
    }
}

.buttons {
    width: calc(100% - 20px);
    display: flex;
    align-items: center;
    gap: 12px;
    margin-right: 20px;
}