.search {
  width: 100%;
  height: 40px;
  margin-right: 20px;
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 0 12px;
  border-radius: 4px;
  border: 1px solid #eaf0fa;
}
.search {
  position: relative;
  display: flex;
  align-items: center;

  input {
    flex: 1;
    padding-right: 32px;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
  }
  .clearButton svg {
    width: 100%;
    height: 100%;
  }
  .clearButton {
    height: 12px;
    width: 12px;
    position: absolute;
    right: 8px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
  }
}
.empty {
  display: flex;
  height: 20px;
  overflow: hidden;
  color: #71869d;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  padding: 16px 20px 20px 0;
}
