.root {
  padding: 0 28px 20px 28px;
  width: 100%;
  box-sizing: border-box;
  max-width: 100%;
  background-color: #fff;
  border-radius: 0 0 8px 8px;
  border-spacing: 0;
  color: var(--Text-Primary, #121922);
  transition: all 0.15s;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 50px;

  &_vis {
    visibility: visible;
    opacity: 1;
  }

  &_fetch td {
    opacity: 0.6;
    pointer-events: none;
  }
}
.saldoRow {

  height: 52px;
  border-top: 1px solid #eaf0fa;
  padding-left: 20px;
  border-bottom: 1px solid #eaf0fa;
  display: flex;
  align-items: center;
}

.gridRow {
  align-items: center;
  height: 48px;
  box-sizing: border-box;
  display: grid;
  padding: 0 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #121922;
  position: relative;
  grid-template-columns:
    minmax(100px, 100px)
    minmax(300px, 300px)
    minmax(300px, 300px)
    minmax(230px, 1fr)
    minmax(150px, 0.5fr)
    minmax(150px, 1fr);
  &.evenRow {
    background-color: #f8fafd;
  }
}
.gridCell {
  display: flex;
  align-items: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  // padding: 12px 20px 12px 0;

  &.right {
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
  }

  &.center {
    justify-content: center;
    text-align: center;
  }

  &.gray {
    color: #71869d;
  }

  &.bigPadding {
    padding-right: 40px;
  }

  &.button {
    justify-content: center;
    padding: 0;
  }
}
.closingDocs {
}
.justifyCell {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.firstCell {

  gap: 12px;
  justify-content: start;
}
.lastCell {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding-right: 40px;
}
