.wrapper {
    position: relative;
    display: inline-block;
    width: 100%;
}

.input {
    box-sizing: border-box;
    height: 40px;
    width: 100%;
    padding: 12px /* 36px 12px 12px */;
    outline: none;
    border-radius: 4px;
    border: 1px solid rgba(216, 228, 251, 0.55);
    background-color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    transition: all 0.15s;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &:disabled {
        background-color: rgba(212, 223, 243, 0.17);
        color: #121922;
    }

    &::placeholder {
        color: #71869d;
    }

    &:focus {
        border-color: #002cfb;
    }
}

.copyIcon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 16px;
    opacity: 0.4;
    transition: opacity 0.2s;

    &:hover {
        opacity: 1;
    }
}
