.root {
    width: 120px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.field {
    cursor: pointer;
    padding: 0 12px;
    height: 40px;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid rgba(216, 228, 251, 0.55);
    background: #FFF;
    display: flex;
    align-items: center;
    position: relative;
    gap: 6px;

    &_disabled {
        pointer-events: none;
        background-color: rgba(212, 223, 243, 0.17);

        svg {
            opacity: 0;
        }
    }
}

.sub {
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    color: #71869D;
}


.chewron {
    flex-shrink: 0;
    margin-left: auto;
    transition: all 0.25s ease-in-out;

    &_open {
        transform: rotate(180deg);
    }
}

.list {
    z-index: 20;
    width: 100%;
    position: absolute;
    top: 66px;
    left: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 0;
    opacity: 0;
    overflow: hidden;
    background: #FFF;
    border-radius: 4px;
    transition: all 0.2s ease-in-out;

    &_open {
        box-shadow: 0px 10px 30px 4px rgba(0, 0, 0, 0.10);
        height: 200px;
        opacity: 1;
    }

    li {
        flex-shrink: 0;
        padding: 0 12px;
        height: 40px;
        display: flex;
        align-items: center;
        cursor: pointer;
        transition: all 0.15s;

        &:hover {
            background-color: rgba(212, 223, 243, 0.17);
        }
    }
}