.overlay {
  min-height: 100vh;
  position: relative;
  width: 100%;
  overflow: hidden;
}

.root {
  opacity: 1;
  transition: all 0.15s ease-in-out;
  scroll-behavior: smooth;
  display: flex;
  gap: 20px;
  flex-direction: column;

 /*  &_fetch {
    opacity: 0;
  } */

  &_anim {
    opacity: 1;
  }
}
.contentWrapper {
  display: flex;
  gap: 12px;
}
.contentHeader {
  width: 100%;

  padding: 24px 20px;
  border-radius: 8px;
  background: #f8fafd;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.mainContent {
  width: 100%;
  min-width: 900px;
  padding: 24px 20px;
  border-radius: 8px;
  background: #fff;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.rightPannel {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 0;
  opacity: 0;
  display: none;

  transition: all 0.15s;

  &_vis {
    display: flex;
    opacity: 1;
    width: 500px;
  }
}
