.input {
    height: 40px;
    width: 100%;
    padding-right: 12px;
    display: flex;
    align-items: center;
    text-align: end;
    border-radius: 4px;
    border: 1px solid rgba(216, 228, 251, 0.55);
}