.label {
    display: inline-flex;
    width: max-content;
    max-width: 150px;
    min-width: 0;

    padding: 0 8px;
    align-items: center;
    gap: 4px;
    border-radius: 4px;
    background: #f1f4f9;
    color: #71869d;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}
