.label {
    width: auto;
    display: flex;
    padding: 0 8px;
    align-items: center;
    gap: 4px;
    border-radius: 4px;
    background: #f1f4f9;
    color: #71869d;

    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}
