.container {
  gap: 12px;
  display: flex;
}

.block {
  width: 100%;
  gap: 20px;
  display: flex;
  flex-direction: column;
  padding: 20px 24px;
  align-items: flex-start;
  gap: 12px;
  align-self: stretch;
  border-radius: 8px;
  background: #fff;
  min-width: 790px;

  h3 {
    margin-bottom: 8px;
  }
}

.subs {
  color: #71869D;
  display: flex;
  gap: 12px;
}

.button {
  cursor: pointer;
  transition: all 0.15s;

  &:hover {
    opacity: 0.8;
  }
}


.add {
    display: flex;
    align-items: center;
    gap: 6px;
    height: 40px;
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    color: #002CFB;
    user-select: none;
    cursor: pointer;
    transition: all 0.15s;

    svg path {
        transition: all 0.15s;
    }

    &:hover {
        color: #0024CB;

        svg path {
            fill: #0024CB;
        }
    }
}