.root {
    table-layout: fixed;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    background-color: #FFF;
    border-radius: 8px;
    text-wrap: nowrap;
    border-spacing: 0;


    th,
    td {
        padding: 16px 20px 16px 0;
        white-space: nowrap;
        overflow: hidden;

        p {
            font-size: 14px;
            font-weight: 400;
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;

            span {
                color: #71869D;
            }
        }
    }

    th {
        color: #71869D;
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
    }

    tr {
        height: 50px;
        display: flex;
        width: 100%;
    }
}

.date {
    text-align: start;
    width: 108px;
    max-width: 108px;
    box-sizing: border-box;
    padding-left: 28px !important;
    flex-shrink: 0;
}

.number {
    text-align: start;
    width: 100px;
    max-width: 100px;
    flex-shrink: 0;
}

.customer {
    text-align: start;
    /* min-width: 250px; */
    min-width: 200px;
    width: 100%;
    max-width: 1fr;
    flex-shrink: 10;
    display: flex;
    align-items: center;
    gap: 4px;

    p {
        width: fit-content !important;
    }
}

.inn {
    text-align: start;
    width: 130px;
}

.connection {
    width: 140px;
    max-width: 140px;
    padding-right: 0 !important;
    display: flex;
    justify-content: center;
    gap: 6px;
    flex-shrink: 0;
    position: relative;
    overflow: visible !important;
}

.summ {
    text-align: end;
    width: 140px;
    max-width: 140px;
    flex-shrink: 0;
}

.recipient {
    text-align: start;
    min-width: 250px;
    min-width: 200px;
    width: 100%;
    max-width: 1fr;
    flex-shrink: 10;
}

.bill {
    text-align: start;
    /* min-width: 250px; */
    min-width: 200px;
    width: 100%;
    max-width: 1fr;
    flex-shrink: 10;
    display: flex;
    align-items: center;
    gap: 4px;

    sup {
        font-size: 14px;
    }

    p {
        max-width: 100%;
        width: fit-content !important;
    }
}

.progress {
    display: flex;
    align-items: center;
    width: 130px;
    max-width: 130px;
    padding: 16px 10px !important;
    flex-shrink: 0;
    overflow: visible !important;
}


.button {
    width: 40px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transition: all 0.15s;

    svg path {
        transition: all 0.15s;
    }

    &:hover {
        svg path {
            fill: #0024CB;
        }
    }

    &_vis {
        visibility: visible;
        opacity: 1;
    }
}

.lable {
    height: 24px;
    padding: 8px;
    display: flex;
    align-items: center;
    background-color: #F1F4F9;
    border-radius: 4px;

    span {
        color: #71869D;
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
    }
}

.line {
    display: flex;
    align-items: center;
    gap: 2px;
}

.bar {
    width: 24px;
    height: 6px;
    border-radius: 100px;
    background-color: #DFE5EF;
    position: relative;
    pointer-events: none;

    &_active {
        pointer-events: all;
        cursor: pointer;
        background-color: #28A879;
    }
}

.row {
    height: 48px;
    max-height: 48px;
    position: relative;
    transition: all 0.15s;
    cursor: pointer;

    &:hover {
        background-color: #F8FAFD;
    }
}

.border {
    position: absolute;
    left: 28px;
    border-top: 1px solid #EAF0FA;
    width: calc(100% - 56px);
}

.container_tooltip {
    position: relative;
    display: flex;
    align-items: center;

    svg {
        cursor: pointer;
    }
}

.tooltip {
    width: fit-content;
    position: absolute;
    z-index: 2;
    top: 20px;
    left: -160px;
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    transition: all 0.15s ease-in-out;
    padding: 3px 12px 8px 12px;
    background-color: #1f3345e6;
    border-radius: 4px;
    box-shadow: 0px 0px 10px 0px rgba(0, 32, 51, 0.10);

    svg {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        top: -8px;
    }

    p {
        text-wrap: nowrap;
        color: #FFF;
        font-size: 14px;
        font-weight: 400;
        line-height: 140%;
    }


    &_open {
        opacity: 1;
        visibility: visible;
    }

    &_pay {
        left: -286px;

        svg {
            left: 88%;
        }
    }

    &_progress {
        top: 12px;
        left: 50%;
        transform: translateX(-50%);
        width: fit-content;
        display: flex;
        flex-direction: column;
        gap: 2px;
    }

    &_status {
        top: 38px;
        right: 20px;
        left: auto;
        transform: none;
        padding-top: 8px;

        /*  left: 74%;
        transform: translateX(-74%); */
        svg {
            display: none;
        }

    }

    &_last {
        top: auto;
        bottom: 110%;

        svg {
            display: none;
        }
    }

}

.status {
    display: flex;
    height: 24px;
    box-sizing: border-box;
    padding: 3px 6px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: fit-content;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid #ADBFDF;
    color: #ADBFDF;
    /*  position: relative; */
    pointer-events: none;

    p {
        line-height: 18px;
        display: flex;
        align-items: center;
        gap: 4px;
    }

    &_1 {
        border-color: #002CFB;
        color: #002CFB;
        pointer-events: all;
    }

    &_2 {
        color: #fff;
        border-color: #002CFB;
        background-color: #002CFB;
        pointer-events: all;
    }
}