.overlay {
  min-height: 100vh;
  position: relative;
  width: 100%;
  overflow: hidden;
  opacity: 0;
  transition: all 0.15s;

  &_anim {
    opacity: 1;
  }
}

.root {
  table-layout: fixed;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  background-color: #fff;
  border-radius: 8px;
  border-spacing: 0;
  opacity: 1;
  color: var(--Text-Primary, #121922);
  transition: all 0.15s;
  /*   padding-bottom: 12px; */
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  margin-bottom: 40px;
}

///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.gridRow {
  display: grid;
  align-items: center;
  padding: 0 20px;
  height: 50px;
  /*  margin-top: -1px; */
  // border-bottom: 1px solid #eff4fb;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #121922;
  position: relative;

  &:hover {
    .showOnHover {
      opacity: 1;
      pointer-events: auto;
    }
  }

  .showOnHover {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease;
  }

  &.approved {
    grid-template-columns: minmax(200px, 0.5fr) // Наименование
      minmax(130px, 130px) // Оквед
      minmax(100px, 100px) // доля выручки
      minmax(100px, 0.5fr) // выручка ЕГРЮЛ
      minmax(140px, 140px) // ССч
      minmax(130px, 0.5fr) // Статус ЕГРюл
      minmax(140px, 140px); //Примечание
    transition: all 0.15s;
    cursor: pointer;

    &:hover {
      background-color: #f8fafd;

      .deleteWrapper {
        opacity: 1;
        pointer-events: auto;
      }
    }
  }

  &.notApproved {
    grid-template-columns: minmax(200px, 2fr) //Наименование
      minmax(200px, 2fr); // Примечание

    cursor: pointer;
    transition: all 0.15s;

    &:hover {
      background-color: #f8fafd;

      .deleteWrapper {
        opacity: 1;
        pointer-events: auto;
      }
    }
  }
}

.line {
  margin: -1px 20px 0;
  width: calc(100% - 40px);
  height: 1px;
  background-color: #eaf0fa;
}

.gridCell {
  // overflow: hidden;

  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 16px 20px 16px 0;

  &.right {
    // justify-self: end;
    text-align: right;
    // padding-right: 0;
  }

  &.center {
    text-align: center;
  }

  &.gray {
    color: #71869d;
  }

  &.bigPadding {
    padding-right: 40px;
  }

  &.button {
    display: flex;
    justify-content: flex-end;
    padding: 0px;
    padding-right: 20px;
  }
}

.gridHeader {
  @extend .gridRow;
  font-weight: 500;
  color: #71869d;

  &:hover {
    background-color: transparent !important;

    .deleteWrapper {
      opacity: 0 !important;
      pointer-events: none !important;
    }
  }

  > div {
    padding: 16px 20px 16px 0px;
  }

  > div:first-child {
    padding-left: 12px;
  }
}

.toggleBtn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 4px;

  .chevronIcon {
    display: inline-block;
    transition: transform 0.3s ease;
    width: 24px;
    height: 24px;

    &.open {
      transform: rotate(0.5turn);
    }
  }
}

.justifyCell {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.updCell {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 4px;
}

.act {
  padding: 3px 8px;
  text-align: center;
  height: 24px;
  color: #002cfb;
  border-radius: 4px;
  border: 1.5px solid #002cfb;

  &:hover {
    color: #0024cb;
    border-color: #0024cb;
  }
}

.toggleBtn,
.act {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease;
}

// .labelBadge {
//   display: flex;
//   flex-direction: row;
//   gap: 6px;
//   padding-left: 12px;
//   justify-content: start;
// }

.labelBadge {
  display: flex;
  flex-direction: row;
  gap: 6px;
  padding-left: 12px;
  justify-content: start;

  min-width: 0;
  overflow: hidden;

  > * {
    min-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.badge {
  width: fit-content;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  border-radius: 4px;
  display: flex;
  padding: 0 8px;
  justify-content: center;
  align-items: center;
  gap: 6px;
  flex-shrink: 0;

  &_red {
    background: #fee9ef;
    color: #e10d0d;
  }

  &_green {
    color: #28a879;
    background: #dbf8ef;
  }

  &_yellow {
    color: #eca900;
    background: rgba(255, 194, 39, 0.1);
  }
}

.noData {
  text-align: left;
  color: #71869d;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.error {
  text-align: left;
  color: #e10d0d;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
}
