.root {
    width: 100%;
    min-width: 460px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 6px;

    &_wide {
        width: 500px;
    }
}

.sub {
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    color: #71869D;
}

.field {
    width: 100%;
    padding: 0 12px;
    height: 40px;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid rgba(216, 228, 251, 0.55);
    background: #FFF;
    display: flex;
    align-items: center;
    position: relative;
    gap: 6px;

    input {
        width: 100%;
        height: 100%;
    }

    &_disabled {
        input {
            /*  opacity: 0; */

            &:disabled {
                color: inherit;
            }
        }

        svg {
            cursor: default;
            opacity: 0;
        }
    }

    &_disabledover {
        background-color: rgba(212, 223, 243, 0.17);

        input {
            background: none !important;
        }
    }

    &_error {
        border: 1px solid #E10D0D;
    }
}

.chewron {
    cursor: pointer;
    margin-left: auto;
    transition: all 0.25s ease-in-out;

    &_open {
        transform: rotate(180deg);
    }
}

.block {
    width: 100%;
    border-radius: 4px;
    background-color: #FFF;
    box-shadow: 0px 10px 30px 4px rgba(0, 0, 0, 0);
    position: absolute;
    top: 66px;
    left: 0;
    height: fit-content;
    overflow: hidden;
    max-height: 0;
    /*  opacity: 0; */
    z-index: 2;
    scrollbar-gutter: stable;
    transition: all 0.25s ease-in-out;

    &_open {
        box-shadow: 0px 10px 30px 4px rgba(0, 0, 0, 0.10);
        max-height: 350px;
        opacity: 1;
    }

    &_scroll {
        overflow: auto;
    }

    &_position {
        top: 50px;
    }
}

.list {
    padding: 12px 0;
    display: flex;
    flex-direction: column;
    gap: 2px;

}

.notfound {
    height: 32px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    color: #71869D;
}


.label {
    max-width: 140px;
    border-radius: 4px;
    background: #F1F4F9;
    padding: 0 8px;
    height: 24px;
    display: flex;
    align-items: center;
    color: #71869D;

    font-size: 14px;
    font-weight: 400;
    line-height: 18px;



    p {
        text-overflow: ellipsis;
        overflow: hidden;
        text-wrap: nowrap;
    }
}

.overlay {
    position: absolute;
    left: 0;
    top: 0;
    border: none;
    border-right: none;
    width: calc(100% - 40px);
    padding: 0 12px;
    height: 38px;
    box-sizing: border-box;
    border-radius: 4px;
    background: #FFF;
    display: flex;
    align-items: center;
    gap: 12px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.15s ease-in-out;
    text-wrap: nowrap;
    overflow: hidden;
    line-height: 1.15;
    text-overflow: ellipsis;

    p {
        max-width: 100%;
    }

    span {
        color: #71869D;
        vertical-align: top;
    }

    &_active {
        opacity: 1;
        visibility: visible;
    }

    &_disabled {
        background-color: rgba(212, 223, 243, 0.17);
        width: 100%;
    }


}

.error {
    opacity: 0;
    height: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    color: #E10D0D;
    transition: all 0.2s ease-in-out;
    margin-top: -6px;

    svg {
        margin-bottom: -2px;
    }


    &_vis {
        margin-top: 0;
        opacity: 1;
        height: 20px;
    }
}