.wrapper {
  position: relative;
}

.selectBox {
  height: 40px;
  border: 1px solid rgba(216, 228, 251, 0.55);

  padding: 10px 40px 10px 12px;
  border-radius: 4px;
  background-color: #fff;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  transition: border 0.2s;

  overflow: hidden;
  color: var(--Text-Primary, #121922);
  text-overflow: ellipsis;

  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;

  &:hover {
    border-color: #002cfb;
  }

  &:focus {
    border-color: #002cfb;
    outline: none;
  }
}
.selectBox .value {
  color: black;
}

.placeholder {
  color: #98a0af;
}

.icon {
  position: absolute;
  right: 12px;
  width: 16px;
  height: 16px;
  pointer-events: none;
  transition: transform 0.3s ease;

  &.open {
    transform: rotate(180deg);
  }
}

.dropdownList {
  margin-top: 4px;
  position: absolute;
  z-index: 1000;
  width: 100%;
  background-color: #fff;
  border: 1px solid rgba(216, 228, 251, 0.55);
  border-radius: 4px;
  max-height: 200px;
  overflow-y: auto;
  box-shadow: 0px 0px 10px 0px rgba(0, 32, 51, 0.1);
}

.option {
  padding: 10px 12px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  height: 40px;

  &:hover {
    background-color: #f0f4ff;
  }

  &.selected {
    background-color: rgba(212, 223, 243, 0.17);
    color: black;
    font-size: 14px;
  }
}
.label {
  color: #71869d;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  margin-bottom: 6px;
}
