.modal {
  font-family: Inter;
  background-color: #fff;
  box-shadow: 0px 0px 50px 0px rgba(129, 135, 163, 0.2);
  border-radius: 8px;
  padding: 20px 24px;

  width: 600px;
  height: auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  display: flex;
  align-items: center;
  gap: 4px;

  p {
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
  }
}
.info {
  color: var(--Text-Primary, #121922);

  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
.content {
  width: 100%;
  gap: 6px;
  display: flex;
  flex-direction: column;

  align-items: flex-start;

  align-self: stretch;
  border-radius: 8px;
  background: #fff;
}
.textAreaTitle {
  color: #71869d;

  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}
.btns {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 12px;
  opacity: 0;
  height: 0;
  transition: all 0.15s smooth;

  &_vis {
    opacity: 1;
    height: auto;
  }
}
