.root {
    width: fit-content;
    height: 40px;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #002CFB;
    display: flex;
    align-items: center;
    border-radius: 4px;
    position: relative;
}

.button {
    height: 100%;
    padding: 0 12px 0 20px;
    display: flex;
    align-items: center;
    gap: 6px;
    cursor: pointer;
    transition: all 0.15s;
    position: relative;
    color: #002CFB;
    font-size: 14px;
    font-weight: 500;
    line-height: 140%;

    svg path {
        transition: all 0.15s;
    }

    &:hover {
        color: #0024CB;
        border-color: #0024CB;

        svg path {
            fill: #0024CB;
        }
    }

    &_options {
        padding: 0 12px;
    }
}

.loader {
    position: absolute;
    left: 20px;
    width: 18px;
    background-color: #f1f4f9;
    opacity: 0;
    visibility: hidden;
    transition: all 0.15s;

    &_vis {
        opacity: 1;
        visibility: visible;
    }
}

.line {
    height: 30px;
    width: 1px;
    background-color: #0024CB;
}

.arrow {
    transition: all 0.15s ease-in-out;

    &_open {
        transform: rotate(180deg);
    }
}

.options {
    position: absolute;
    z-index: 2;
    top: 44px;
    right: 0;
    display: flex;
    width: 330px;
    padding: 0;
    max-height: 0;
    box-sizing: border-box;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 4px;
    background-color: #FFF;
    box-shadow: 0px 0px 10px 0px rgba(0, 32, 51, 0.10);
    overflow: hidden;
    opacity: 0;
    transition: all 0.15s ease-in-out;

    &_open {
        opacity: 1;
        padding: 6px 0px;
        max-height: 172px;
    }

    li {
        flex-shrink: 0;
        width: 100%;
        height: 40px;
        padding: 0 12px;
        display: flex;
        align-items: center;
        gap: 6px;
        cursor: pointer;
        transition: all 0.15s;

        &:hover {
            background-color: #F8FAFD;
        }
    }
}

.label {
    display: flex;
    height: 24px;
    padding: 0px 8px;
    align-items: center;
    gap: 4px;
    border-radius: 4px;
    background: #F1F4F9;
    color: #71869D;
    margin-left: auto;
}