.footerRow {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #e6eaff;
  height: 64px;
  padding: 0 20px;
  display: grid;
  align-items: center;
  justify-content: space-between;
  grid-template-columns:
    minmax(170px, 170px)
    minmax(290px, 290px)
    minmax(300px, 300px)
    minmax(230px, 1.1fr)
    minmax(150px, 0.55fr)
    minmax(150px, 1.25fr);
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  color: #121922;
}
.gridCell {
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 12px 20px 12px 0;

  &.right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
  }
  &.center {
    text-align: center;
  }
  &.gray {
    color: #71869d;
  }
  &.bigPadding {
    padding-right: 40px;
  }
  &.button {
    display: flex;
    justify-content: center;
    padding: 0;
  }
}
