.root {
  display: flex;
  flex-direction: column;
  // gap: 20px;
}

.infoTitle {
  display: flex;
  flex-direction: row;
  gap: 6px;
  align-items: center;
  color: var(--Text-Secondary, #71869d);

  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}
.header {
  &:hover {
    background: inherit !important;
    cursor: default !important;
  }
  div {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #71869d;
  }
}

.gridRow {
  height: 50px;
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 1fr 0.7fr 1fr 1fr;
  column-gap: 20px;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid #eaf0fa;
  position: relative;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  cursor: pointer;
  column-gap: 20px;
  transition: all 0.15s;
  &:hover {
    background: #f8fafd;  
  }

  // &:last-child {
  //     border-bottom: none;
  // }

  // div {
  //     overflow: hidden;
  //     text-overflow: ellipsis;
  //     white-space: nowrap;
  // }
}
.gridRow > div:not(.progress) {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.empty {
  color: var(--Text-Secondary, #71869d);
  // padding: 20px 24px;
  padding-left: 20px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}
.companyInfo {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 4px;
  flex-shrink: 0;
  min-width: 0;
}

.flexCell {
  display: flex;

  align-items: center;
  justify-content: space-between;

  > .companyInfo {
    flex-shrink: 0;
  }
}

.optionsBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.grayText {
  color: var(--Text-Secondary, #71869d);

  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}
.docCount {
  display: flex;
  align-items: center;
  gap: 4px;
  justify-content: center;
}

.dropDownMenu {
  position: absolute;
  top: 100%;
  right: 0;
  margin-top: 6px;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  z-index: 11;
  min-width: 180px;
}
.dropDownItem {
  padding: 8px 12px;
  cursor: pointer;
  font-size: 14px;
  color: #333;

  &:hover {
    background-color: #f1f4f9;
  }
}
